.App {
  text-align: center;
  background-color: #1b2636;
  color: #d8d3d3; /* Lighter text color */
  padding: 5rem;
  overflow: auto;
}

img {
  height: 20px;
  width: auto;
  margin-right: 1rem;
}

.card {
  background-color: #10152e91; /* Or any background color you prefer */
  border-radius: 8px; /* Rounded corners */
  padding: 20px; /* Internal padding */
  width: 300px; /* Example width, adjust as needed */
  margin: 20px; /* Example margin for spacing */
}

/* Background Shadow (Box Shadow) */
.card-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Horizontal offset, vertical offset, blur radius, spread radius, color */
}

/* More pronounced shadow */
.card-shadow-strong {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
